
header {
    background-color: rgba(125, 64, 20, 0.842);
    font-size: 30px;
    font-family: serif;
    letter-spacing: 0.6rem;
    color: white;

}


.icon {
    width:30px;

}

.main {
    width:100%;
    margin-bottom: 30px;

}

.profile {
    display:flex;
    justify-content: center;
    margin: 30px 0px 60px 0px;
}


.woman {
    width:20%;
   border-radius: 30px 0 30px 0;
   object-fit: cover;
   margin-left:230px;
}

.introduction {
    font-size: 13px;
    color:#474b3c;
    margin:60px 20px 20px 20px ;
    
}

.name {
    font-size:20px;
    color:#474b3c;
    margin-left: 20px;
}

.message {
    font-size: 18px;
    color:#474b3c;
    margin-top: 20px;
}


h1 {
    font-size:16px;
    margin-bottom: 8px;
}


.text {
    font-size: 13px;
    color:#474b3c;
    text-align: center;
    padding:3vw;
    background-color: antiquewhite;
    width: 30%;
    min-width: 290px;
    height: 14vw;
    min-height: 154px;
    position: absolute;
    top:17vw;
}

.left{
    left: 20%;
    
}

.right{
    right: 20%;
    
}


.pic {
    width: 40%;
    height: 23vw;
    object-fit: cover;
}


.always{
    display:flex;
    margin:20px;
    /* border-radius: 20px ; */
    position: relative;
}

/* .alwaysvisu {
    width:40%;
    height: 310px;
    object-fit: cover;
} */


.celebration{
    display:flex;
    margin:20px;
    /* border-radius: 20px ; */
    justify-content: flex-end;
    position: relative;
}

/* .celebvisu {
    width:40%;
    height: 310px;
    object-fit: cover;
} */


.event{
    display:flex;
    margin:20px;
    /* border-radius: 20px ; */
    position: relative;
}

/* .eventvisu {
    width:40%;
    height: 310px;
    object-fit: cover;
} */


.offering{
    display:flex;
    margin:20px;
    /* border-radius: 20px ; */
    justify-content: flex-end;
    position: relative;
}

/* .offervisu {
    width:40%;
    height: 310px;
    object-fit: cover;
} */



footer {
    background-color: rgba(125, 64, 20, 0.842);
    margin-top: 220px;
    padding-top: 60px;
    padding-bottom: 50px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    font-family: serif;
}

ul {
    margin-left: 30px;
    color: #474b3c;
    font-size: 15px;
}

@media screen and (max-width: 760px)
    {
.woman {
    width:33%;
    height:220px;
    margin-left: 10%;
}

ul {
    font-size: 10px;
    margin-left: 0px;
}

.name {
    font-size: 15px;
}

.message {
    font-size: 10px;
}

.pic {
    width:84%;
    height:50vw;
    position: absolute;
}

.left  {
    right: 3vw;

}

.right {
    left: 3vw;
}

h1 {
    font-size: 13px;
    margin-bottom: 5px;
}

.text {
    font-size: 10px;
    color: #474b3c;
    text-align: center;
    background-color: antiquewhite;
    width: 77%;
    height: 22vw;
    min-height: 84px;
    position: absolute;
    bottom :5.5vw;
    top:initial;
    z-index: 1;

}

.content >div {
    display:block;
    height:75vw;
}

.rightpic {
    right:0;
}

footer {
    margin-top:10px;
}


    }